<h2>All Events</h2>

<% @events.each do |event|%>
  <div>
    <p>Event created by: <%= event.creator.username%></p>
    <p>
      Location: <%= event.location%>
    </p>
    <p>
      Date: <%= event.event_date%>
    </p>
    <p>
      Description: <%= event.description%>
    </p>
    <p>
      <%= link_to "See Event", event_path(event)%>
    </p>
  </div>
<%end%>

<h4>Past Events</h4>
<% @past_events.each do |event|%>
  <li>Location: <%= event.location %> </li>
  <li>Date: <%= event.event_date%> </li>
<%end%>

<h4>Upcoming Events</h4>
<% @upcoming_events.each do |event|%>
  <li>Location: <%= event.location %> </li>
  <li>Date: <%= event.event_date%> </li>
<%end%>