<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Private Events", root_path%>
          </li>
          <% if current_user %>
            <li>
              <%= link_to "Create an Event", new_event_path%>
            </li>
          <% end %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <% if current_user%>
            <li><%= link_to "Logout", user_path(current_user), method: :delete%></li>
          <%else%>
            <li><%= link_to "Login", root_path%></li> 
            <li><%= link_to "Sign Up", new_user_path%></li>
          <%end%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
